@import url('https://fonts.googleapis.com/css?family=Lato:400');
body{
  background-color: rgba(255, 179, 237, 0.2);
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  position: relative;
  margin: auto;
  width: 30%;
  height: auto;
  left: 0;
  right: 0;

  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.1);
  background-color: white;
  cursor: pointer;

}
.content{
  text-align: justify;
  width: 95%;
  margin: auto;
  font-size: 1.2em;
  margin-top: 50px;
  line-height: 1.5em;
  font-weight: 100;
}
.content h3{
  font-weight 900;
  font-size: 1.5em;
  font-family: serif;
}
.container img{
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  height: 40%;
  transition: all .5s linear;
}
.container:hover img{
  transform: scaleY(1.2);
}
.link{
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-around;
}
.link a{
  color: rgba(57, 46, 209, .9);
}
.link a:hover{
color: rgba(57, 46, 209, .5);
}

.snooze i, .join i{
  padding-right:4px;
}


.button{
width: 100%;
  font-size: .8em;
 display: flex;
  justify-content: space-between;
letter-spacing: 1.2px;
}
.button a{
  text-decoration: none;
}


.button h4{

  text-transform: uppercase;
}
@media screen and (max-width: 1050px){
.container{
  width: 40%;
}
.content{
  font-size: 1.2em;
}
  }
@media screen and (max-width: 768px){
  .container{
    width: 50%;
  }
  .content{
    font-size: 1.1em;
  }
  .content h3{
    font-size: 1.3em;
  }
}
@media screen and (max-width: 500px){
  .container{
    width: 80%;
  }
}
